.container {
    max-width: 1140px;
}

.footer-links,
.footer-links a{
    display:flex;
    justify-content: center;
}

.footer-links a {
    flex-direction: column;
    margin:1.6rem;
}

.footer__text {
    text-align: center;
}